.chat-message-list {
    grid-area: mes-list;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
    overflow-wrap: break-word;
    overflow-y: scroll;
    background: transparent;
  }
